<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Products</title>
</head>
<body>
	<h1>Products</h1>
	<p>
		<a href="/products-search">Search By Category</a>
	</p>
	<table>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Category</th>
		</tr>

			<tr th:each="product : ${products}">
		 		<td th:text="${ product.name }"></td>
		 		<td th:text="${ product.price }"></td>
		 		<td th:text="${ product.category }"></td>
		 	</tr>

	</table>
</body>
</html>